.grid-cell {
  background-color: #bbb;
  display: grid;
  align-items: center;
  justify-items: center;
  user-select: none;
  font-size: 2rem;
  border-radius: 30%;
}

.grid-cell:hover {
  box-shadow: 3px 3px 3px 3px #111;
}
